<div class="content mat-elevation-z8">
  <div class="row">
    <div class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active card-overlay" data-bs-interval="2000"
          style="background-image: url('../../../assets/images/Chicken Biryani.jpg');background-size:cover;">
          <div class="card-overlay">
            <div class="white-text text-center">
              <div class="card-block">
                <p class="homecontent">
                  Is there any rice meal with more varieties than biryani? When it comes to biryani, 
                  there are thousands of different variations to choose from. 
                  It all relies on the type of food the Calgary Indian restaurant intends to provide. Rice, Indian spices, vegetables, 
                  eggs, and meat, including chicken, beef, and fish, are all available. You have an option.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000"
          style="background-image: url('../../../assets/images/Chicken\ masala.jpg');background-size:cover;">
          <div class="card-overlay">
            <div class="white-text text-center">
              <div class="card-block">
                <p class="homecontent">Our Tandoori chicken is known for its spiciest and yoghurt-filled composition,
                   is popular due to its simplicity and balance of tastes. 
                   The chicken is marinated in yoghurt as well as a spice blend that may contain cayenne pepper and even red chilli powder. 
                  It has a creamy, balanced flavour with a hint of spiciness.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000"
          style="background-image: url('../../../assets/images/Idly.png');background-size:cover;">
          <div class="card-overlay">
            <div class="white-text text-center">
              <div class="card-block">
                <p class="homecontent">The White, soft, fluffy Idli made from soaked rice and urad dal is the best diet food and healthy as it is steameed. 
                  Served with fresh coconut chutney and spicy sambar makes it everyone's favourite breakfast ever.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000"
          style="background-image: url('../../../assets/images/PlainDosa.jpg');background-size:cover;">
          <div class="card-overlay">
            <div class="white-text text-center">
              <div class="card-block">
                <p class="homecontent">Our Masala Dosa is a delicious and easy to prepare dish.
                   It's a crepe prepared from fermented rice and lentils that's steeped in water for a few hours before being packed with seasoned potatoes and spices. 
                  A must-try dish in Indian restaurants in Calgary, and a favourite at Indian buffets.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000"
          style="background-image: url('../../../assets/images/samosa.jpg');background-size:cover;">
          <div class="card-overlay">
            <div class="white-text text-center">
              <div class="card-block">
                <p class="homecontent">This is the bite for you from our side if you want something crispy and fried that will give your tongue a surge of taste. 
                  Samosas can be stuffed with a variety of ingredients such as onions, peas, spicy potatoes, lentils, poultry, and pork. It's a traditional Indian dish that's great as a full meal or a snack. 
                  It's much delicious with chutney or mint sauce.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 100px;">
    <div class="col-md-6">
      <div class="col-md-8" style="float: right;">
        <h5 class="small-headings">Our online portal</h5>
        <h1 class="main-headings">Converting our first time visitors into frequent food customers.</h1>
        <div class="second-headings">
          <h3>Our self explanatory websites allows you to navigate through various pages helping you to choose our authentic dishes and order them online hassle free</h3>
          <h3>No matter how much our business grows, we are grounded and will continue to make sure to keep people talking about VADDE'S</h3>
          <h3>Choose us over hundred's of other online food businesses and you’ll never have to worry about the taste and flavours we serve</h3>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-8">
        <img src="../../../assets/images/online portal.png" style="height: 300px;width: 600px;">
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 100px;">
    <div class="col-md-6">
      <div class="col-md-8" style="float: right;">
        <img src="../../../assets/images/chef.png" style="height: 300px;width: 500px;">
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-8">
        <h5 class="small-headings">Our Values and Promises</h5>
        <h1 class="main-headings">Great food and excellent service.</h1>
        <div class="second-headings">
          <h3>Our goal is to give exceptional food and service.</h3>
          <h3>We also strive to give you with high-quality, genuine Indian cuisine made by our skilled chefs.</h3>
          <h3>Our objective is to provide consistently fresh, innovative, healthful cuisine made with only the finest 
            ingredients in order to achieve customer pleasure.</h3>
        </div>
      </div>
    </div>
  </div>
  <br>
 <br>
</div>