mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #1A6F76;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}


.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}


.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

.bg-color {
  color: white;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: white;
}

.mat-expansion-panel {
  background-color: #1A6F76;
}

.border-bg {
  border-color: #086178;
}

.circle {
  float: right;
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
}