mat-expansion-panel{
    background-color: white;
}

mat-panel-title{
    color: black;
 }

 mat-expansion-panel-header{
     height: 65px;
 }

 mat-panel-title:hover{
    color: #1A6F76;
 }

 .helpcontent{
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: 0;
    margin-right: auto;
}